.ExtraEventInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ButtonsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ButtonsWrapper button {
  font-size: calc(10px + 2vmin);
  width: 340px;
  max-width: 340px !important;
}

.EventDetailed {
  min-width: 900px;
}

.EventDetailed .card {
  width: 94%;
}
