.MuiToolbar-root {
  background-color: rgb(213 217 220) !important;
}

#HeaderLeft {
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}

#HeaderRight {
  float: right;
  padding-right: 15px;
  padding-top: 5px;
}

.eventsMenuClass {
  margin-right: 82.6px !important;
}

.confirmButton {
  max-width: 245px;
}

.disabledEmailField {
  cursor: not-allowed !important;
}

.PageCard.Profile {
  min-width: 0 !important;
}
