.profileBackground {
  text-align: center;
  background-color: #2e4052;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}

.PageHeader {
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.PageCard {
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
  border-radius: 12px;
  gap: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(14px);
  min-width: 200px;
  max-width: 1080px;
  margin-top: 2%;
}

.MuiToolbar-root {
  background-color: rgb(213 217 220) !important;
}

#HeaderLeft {
  float: left;
  padding-left: 15px;
  padding-top: 5px;
}

#HeaderRight {
  float: right;
  padding-right: 15px;
  padding-top: 5px;
}

.eventsMenuClass {
  margin-right: 82.6px !important;
}

.confirmButton {
  max-width: 245px;
}

.disabledEmailField {
  cursor: not-allowed !important;
}
