body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.defaultBackground {
  text-align: center;
  background-color: #2e4052;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}

.card {
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 12px;
  gap: 15px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(14px);
}

.filledButton {
  background-color: #68c3b7 !important;
  width: 100%;
}

.filledButton:hover {
  background-color: #2e4052 !important;
}

.outlinedButton {
  border-color: #68c3b7 !important;
  color: #68c3b7 !important;
  width: 100%;
}

.outlinedButton:hover {
  border-color: #2e4052 !important;
}

.centeredPageWrapper {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
